body {
    height: 100%;
    font-family: Verdana;
    background-image: linear-gradient(#777777, #444444);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #FFD700;
}


#header, #bar {
    width: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

#main {
    width: 90%;
    min-height: 80vh;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
    border: 3px solid black;
    position: relative;
}

#footer {
    background-image: linear-gradient(#555555, #333333);
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    margin-top: auto;
    color: #D0D0D0;
    border: 3px solid black;
}

#Roguelike, #Deckbuilder {
    width: 50%;
    float: left;
}

#logo {
    display: inline;
    border: none;
    margin-top: 100px;
}

#act1, #act2, #act3, #act4 {
    display: flex;
    flex-direction: row;
}

#act1 img, #act2 img, #act3 img, #act4 img{
    height: 200px;
    width: 200px;
}

img {
    display: block;
    margin: 0 auto;
    border: 3px solid black;
}

figure {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: bold;
}

h2 {
    font-family: 'Segoe UI';
}

ul, ol {
    display: inline-block;
    text-align: left;
}

#levels {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.theme {
    background-image: linear-gradient(#666666, #444444);
    color: #FFD700;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    height: auto;
    width: 100%;
    border: 3px solid black;
    
}

.damage {
    color: red;
}

.health {
    color: #33CC33;
}

.block {
    color: darkcyan;
}

.debuff {
    color: darkred;
}

.curse {
    color: black;
}

.potion {
    color: lightgray;
}

.upgrade {
    color: #008800;
}

.gold {
    font-style: italic;
    color: darkgoldenrod;
}

.relic {
    color: #FF3000;
}

.card {
    color: burlywood;
}

.event {
    color: orchid;
}

.shop {
    color: lightskyblue;
}

.elite {
    font-weight: bold;
}

.boss {
    font-weight: bold;
    text-decoration: underline;
} 

#STS {
    background-image: linear-gradient(#666666, #444444);
}
#STS > a {
    color: #FFD700;
}

#Ironclad {
    background-image: linear-gradient(#FFB300, #B22222);
}
#Ironclad > a {
    color: black;
}

#Silent {
    background-image: linear-gradient(#50CC50, #006400);
}#Silent > a {
    color: black;
}

#Defect {
    background-image: linear-gradient(#00BFFF, #4062BF);
}#Defect > a {
    color: black;
}

#Watcher {
    background-image: linear-gradient(#DE82DE, #9932CC);
}
#Watcher > a {
    color: black;
}